<div class="row">
  <h1>Location Index</h1>
</div>

<div class="row">
  <table class="table table-striped table-bordered">
    <tr>
      <th>
        Latitude
      </th>
      <th>
        Longitude
      </th>
      <th>
        Address
      </th>
      <th>Distance to White House
    </tr>
    <% addresses.each do |address| %>
      <tr>
        <td>
          <%= address.lat %>
        </td>
        <td>
          <%= address.lng %>
        </td>
        <td>
          <%= address.full_address %>
        </td>
        <td>
          <%= '%.2f' % address.distance %> miles
        </td>
      </tr>
    <% end %>
  </table>
</div>
